/* ======================== FONTS =================================== */
@font-face {
  font-family: WhoIsMono;
  src: url("assets/whois-mono_new.ttf");
}

/* ===================== GLOBAL STUFF =============================== */
body {
  margin: 1rem;
}

body * :not(#anmelden) {
  color: white !important;
}

#anmelden {
  color: yellow;
}

#sky {
  position: fixed;
  transition: transform 1s ease;
  left: 0;
  top: 0;
  width: 100vw;
  height: 550vh;
  z-index: 100;
  user-select: none;
  pointer-events: none;
  opacity: 1;
  transform: translateY(0vh);
  background: linear-gradient(
    to bottom,
    black 0vh,
    black 200vh,
    rgb(16, 0, 196) 250vh,
    orange 280vh,
    rgb(205, 205, 255) 300vh,
    white 450vh,
    white 550vh
  );
  mix-blend-mode: difference;
}

/* ascii font-size global */
:root {
  font-size: 14px;
  font-family: WhoIsMono, monospace !important;
}
@media screen and (min-width: 700px) {
}
@media screen and (min-width: 1600px) {
}
/* huge screens */
@media screen and (min-width: 1920px) {
  :root {
    font-size: 16px;
  }
}

/* make selection colorful */
*:nth-child(3n)::selection {
  background-color: orange;
  /* color: white; */
}
*:nth-child(3n + 1)::selection {
  background-color: lightpink;
  /* color: white; */
}
*:nth-child(3n + 2)::selection {
  background-color: lightgreen;
  /* color: white; */
}

/* all ascii classes should wrap like a pre element */
.ascii,
.ascii-image {
  white-space: pre;
  font-size: inherit;
  font-weight: 300;
  line-height: 1;
}

.ascii {
  clear: both;
}

h1,
h2 {
  max-width: 100%;
  /* margin: 1em 0; */
  margin: 0;
}

p,
pre {
  font-size: inherit;
  margin: 0;
  line-height: 1;
}

#qr-code {
  font-weight: bold;
  font-size: 5pt;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

/* ========================= LAYOUTING =============================== */
.main-container {
  display: flex;
  flex-direction: row;
  gap: 0.55rem;
  flex-wrap: nowrap;
}

main {
  min-width: 600px;
  width: calc(100% - 38rem);
}

aside {
  flex: 1;
  padding-left: 0.7rem;
  width: 38rem;
  border-left: dotted black 0.15rem;
}

main,
aside {
  height: calc(100dvh - 2rem);
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


main::-webkit-scrollbar,
aside::-webkit-scrollbar {
  display: none;
}


  a:hover {
    pointer: cursor;
  }

@media screen and (max-width: 950px) {
  .main-container {
    flex-wrap: wrap;
  }
  main {
    min-width: 100%;
    overflow: hidden;
    height: unset;
  }
  main,
  aside {
    height: unset;
  }

  aside {
    border-left: none;
    border-top: dotted black 0.15rem;
    padding-top: 0.7rem;
  }

  aside p,
  ul {
    margin-left: -0.5rem;
  }

  body {
    margin: 0.5rem;
  }

  p:not(.ascii),
  ul {
    font-size: 14px !important;
    width: 97% !important;
  }
  a {
    font-size: 14px !important;
  }

  #qr-code-container {
    width: 97% !important;
  }
}

#map {
  width: 100%;
  max-width: 1000px;
}

#ascii-map {
  float: left;
  font-family: WhoIsMono, monospace;
}

#map-qr-code-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

#qr-code-container {
  margin-right: 1rem;
  width: 20rem;
}

/* ======================== PRINT ========================= */
@media screen {
  .only-print {
    display: none;
  }
}
@media print {
  :root {
    font-size: 10pt;
  }

  aside {
    display: none;
  }

  main {
    min-width: 100%;
    height: unset;
  }

  #title {
    display: none !important;
  }

  #print-title {
    display: block !important;
  }

  #qr-code-container {
    margin: unset;
    width: min-content;
  }
}

@page {
  size: 297mm 420mm;
  margin: 5mm;
}

/* ========================= ANIMATIONS ================================= */

#eftiwall3 {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

/* für gerade p tags */
.eftiwall p:nth-child(even) {
  animation: gerade-efti 5s cubic-bezier(1, 0, 0, 1) infinite;
}

/* für gerade p tags */
.eftiwall p:nth-child(odd) {
  animation: ungerade-efti 5s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes gerade-efti {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes ungerade-efti {
  0% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(1rem);
  }
}
.ticker {
  display: inline-block;
  animation: ticker-animation 19s linear infinite;
}

@keyframes ticker-animation {
  0% {
    transform: translateX(-170rem);
  }
  100% {
    transform: translateX(-396.5rem); /* PERFECTLY LOOPED TITLE!!*/
  }
}
